div h2 {
    font-style: italics;
}

h2 + p {
    color: red;
}

.list > li{
    border-bottom: 1px gray solid;
    list-style-type: none;
}

li a:hover{
    color: pink;

}

li a:visited{
    color: red;
}